default_shell "fish"
// default_mode "locked"

// ==== BINDINGS ==== //


plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen false
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}

theme "tokyo-night-dark"

simplified_ui true
ui {
    pane_frames {
        // rounded_corners true
    }
}
