# This file contains fish universal variable definitions.
# VERSION: 3.0
SETUVAR ANDROID_HOME:{{ .chezmoi.homeDir }}/Android/Sdk
SETUVAR --path CAPACIROR_ANDROID_STUDIO_PATH:\x1d
SETUVAR --path CAPACITOR_ANDROID_STUDIO_PATH:{{ .chezmoi.homeDir }}/\x2eapp\x2drepos/android\x2dstudio/bin/studio\x2esh
SETUVAR --export EDITOR:nvim
SETUVAR TERM:screen\x2d256color
SETUVAR __fish_initialized:3400
SETUVAR _fisher_jorgebucaran_2F_fisher_files:\x7e/\x2econfig/fish/functions/fisher\x2efish\x1e\x7e/\x2econfig/fish/completions/fisher\x2efish
SETUVAR _fisher_plugins:jorgebucaran/fisher\x1ereitzig/sdkman\x2dfor\x2dfish\x40v2\x2e0\x2e0
SETUVAR _fisher_reitzig_2F_sdkman_2D_for_2D_fish_40_v2_2E_30_2E_30__files:\x7e/\x2econfig/fish/functions/sdk\x2efish\x1e\x7e/\x2econfig/fish/conf\x2ed/sdk\x2efish\x1e\x7e/\x2econfig/fish/completions/sdk\x2efish
SETUVAR _fisher_upgraded_to_4_4:\x1d
SETUVAR fish_color_autosuggestion:black
SETUVAR fish_color_cancel:normal
SETUVAR fish_color_command:brcyan\x1e\x2d\x2dbold
SETUVAR fish_color_comment:blue\x1e\x2d\x2ddim
SETUVAR fish_color_cwd:008000
SETUVAR fish_color_cwd_root:800000
SETUVAR fish_color_end:bryellow
SETUVAR fish_color_error:brred
SETUVAR fish_color_escape:blue
SETUVAR fish_color_history_current:normal
SETUVAR fish_color_host:normal
SETUVAR fish_color_host_remote:yellow
SETUVAR fish_color_keyword:brgreen
SETUVAR fish_color_match:normal
SETUVAR fish_color_normal:normal
SETUVAR fish_color_operator:green
SETUVAR fish_color_option:brblue
SETUVAR fish_color_param:brmagenta
SETUVAR fish_color_quote:brgreen
SETUVAR fish_color_redirection:yellow
SETUVAR fish_color_search_match:ffff00
SETUVAR fish_color_selection:green\x1e\x2d\x2dreverse
SETUVAR fish_color_status:red
SETUVAR fish_color_user:00ff00
SETUVAR fish_color_valid_path:bryellow
SETUVAR fish_cursor_insert:line
SETUVAR fish_greeting:Hi
SETUVAR fish_key_bindings:fish_vi_key_bindings
SETUVAR fish_pager_color_completion:normal
SETUVAR fish_pager_color_description:B3A06D\x1eyellow
SETUVAR fish_pager_color_prefix:white\x1e\x2d\x2dbold\x1e\x2d\x2dunderline
SETUVAR fish_pager_color_progress:brwhite\x1e\x2d\x2dbackground\x3dcyan
SETUVAR fish_pager_color_selected_background:\x2dr
SETUVAR fish_user_paths:{{ .chezmoi.homeDir }}/\x2enpm\x2dglobal/bin\x1e{{ .chezmoi.homeDir }}/\x2esdkman/candidates/gradle/current/bin\x1e/usr/lib/jvm/jdk\x2d20/bin\x1e{{ .chezmoi.homeDir }}/\x2efly/bin\x1e/usr/local/go/bin\x1e{{ .chezmoi.homeDir }}/\x2eemacs\x2ed/bin/\x1e{{ .chezmoi.homeDir }}/dmscripts/\x1e{{ .chezmoi.homeDir }}/\x2eghcup/bin\x1e{{ .chezmoi.homeDir }}/\x2ecabal/bin\x1e{{ .chezmoi.homeDir }}/\x2ecargo/bin\x1e{{ .chezmoi.homeDir }}/\x2elocal/bin\x1e{{ .chezmoi.homeDir }}/bin\x1e/usr/local/sbin\x1e/usr/local/bin\x1e/usr/sbin\x1e/usr/bin\x1e/sbin\x1e/bin\x1e/usr/games\x1e/usr/local/games\x1e/snap/bin
