{
    "edit": {
        "command": "kitty",
        "args": ["nvim"]
    },
    "diff": {
        "command": "nvim"
        "args": ["-d", "{{ .Destination }}", "{{ .Target }}"]
    },
    "git": {
        "autocommit": true,
        "autopush": true
    }
}
