{
    "edit": {
        "command": "kitty",
        "args": ["nvim"]
    },
    "diff": {
        "command": "nvim",
        "args": ["-d"]
    },
    "git": {
        "autocommit": true,
        "autopush": true
    }
}
