# The whole purpose of this gitignore is to make managing this
# repo with Lazygit a saner experience
*
!.Xresources
!.bash_profile
!.bash_aliases
!.bashrc
!.editorconfig
!.xprofile
!.gitignore

!.config

!.config/picom.conf
!.config/starship.toml

!.config/Kvantum
!.config/Kvantum/**

!.config/alacritty
!.config/alacritty/**

!.config/awesome
!.config/awesome/**

!.config/btop
!.config/btop/**

!.config/cmus
!.config/cmus/autosave

!.config/dunst
!.config/dunst/**

!.config/eww
!.config/eww/**

!.config/fastfeetch
!.config/fastfeetch/**

!.config/fish
!.config/fish/config.fish

!.config/fnott
!.config/fnott/**

!.config/gtk-?.0
!.config/gtk-?.0/settings.ini

!.config/hypr
!.config/hypr/**

!.config/mpv
!.config/mpv/**

!.config/nvim
!.config/nvim/init.lua
!.config/nvim/lua
!.config/nvim/lua/**

!.config/qt?ct
!.config/qt?ct/**

!.config/qtile
!.config/qtile/**

!.config/rofi
!.config/rofi/**

!.config/tmux
!.config/tmux/tmux.conf

!.config/walker
!.config/walker/**

!.config/waybar
!.config/waybar/**

!.config/xsettingsd
!.config/xsettingsd/**

!.config/yazi
!.config/yazi/**
.config/yazi/flavors
.config/yazi/plugins
.config/yazi/bookmark
.config/yazi/package.toml

!.config/zellij
!.config/zellij/**

*.log
*cache*
*history*
