*~
*cache*
*history*
*bookmark*
eos*
krita*
user-dirs*
.git*
!.gitignore
__pycache__
.directory

*.db
*.log
*.lock
*.ipc
*.bak

.*/
**/
!.config

.config/gtk-?.0/colors.css
.config/gtk-?.0/gtk.css
.config/gtk-?.0/assets

.config/BraveSoftware
.config/Code
.config/Google
.config/KDE
.config/OpenTabletDriver
.config/QtProject
.config/StayFree
.config/Unknown Organization
.config/WebCord
.config/anytype
.config/aseprite
.config/audacity
.config/autostart
.config/bitburner
.config/borg
.config/cef_user_data
.config/cava/shaders
.config/chezmoi
.config/cmus/playlists
.config/cmus/lib.pl
.config/dconf
.config/dolphin-emu
.config/dwarftherapist
.config/fcitx
.config/fcitx5/themes
.config/fcitx5/conf
.config/fcitx5/profile
.config/fish/completions
.config/fish/conf.d
.config/fish/functions
.config/fish/fish_plugins
.config/fish/fish_variables
.config/gh
.config/go
.config/godot/favorite_dirs
.config/godot/recent_dirs
.config/ibus
.config/itch
.config/kde.org
.config/kdeconnect
.config/kdedefaults
.config/kitty/kitty.conf.save
.config/lazygit/state.yml
.config/libaccounts-glib
.config/libfm
.config/nemo
.config/nvim/lazy-lock.json
.config/nvim/stylua.toml
.config/obsidian
.config/omf
.config/pavucontrol-qt
.config/pulse
.config/pupgui
.config/qBittorrent
.config/qView
.config/retroarch/autoconfig
.config/retroarch/config
.config/retroarch/database
.config/retroarch/downloads
.config/retroarch/playlists
.config/retroarch/saves
.config/retroarch/states
.config/retroarch/system
.config/retroarch/thumbnails
.config/retroarch/content_history.lpl
.config/retroarch/content_image_history.lpl
.config/retroarch/content_music_history.lpl
.config/retroarch/content_video_history.lpl
.config/retroarch/retroarch_qt.cfg
.config/session
.config/spotify
.config/systemd
.config/tenacity
.config/ticktick
.config/tmux/plugins
.config/tmux/scripts
.config/transmission
.config/unity3d
.config/vlc
.config/yazi/package.toml
.config/yazi/bookmark
.config/qalculate
.config/galculator
.config/yazi/plugins
.config/yazi/flavors
.config/QtProject.conf
.config/Trolltech.conf
.config/arkrc
.config/bluedevilglobalrc
.config/defaultcalendarrc
.config/device_automounter_kcmrc
.config/discoverrc
.config/mimeapps.list

.gtkrc-2.0
.Xauthority
.nvidia-settings-rc
.npmrc
.lmmsrc.xml
.pulse-cookie
avatar.png
.xsession-errors
.wakatime.cfg
.steampid
.steampath
.wget-hsts
.config/dolphinrc
