$background: #1a1b26;
$foreground: #a9b1d6;

$black: #24283b;
$gray: #565f89;
$red: #f7768e;
$green: #9ece6a;
$yellow: #ff9e64;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #89ddff;
$white: $foreground;

$border-radius: 5px;
