import json

homeDir = '{{ .chezmoi.homeDir }}'

# The following dictionary maps projects to their
# respective Zellij layout.
projects = {
    'LauSan Portfolio': 'lausan'
}

options = []
for k, v in projects.items():
    options.append({
        'label': k,
        'searchable': k.lower(),
        'exec': f'kitty zellij --layout {v}'
    })

print(json.dumps(options))
