:root {
}

* {
    --clr-background: #1a1b26;
    --clr-foreground: #a9b1d6;

    --clr-black: #24283b;
    --clr-gray: #565f89;
    --clr-red: #f7768e;
    --clr-green: #9ece6a;
    --clr-yellow: #ff9e64;
    --clr-blue: #7aa2f7;
    --clr-magenta: #bb9af7;
    --clr-cyan: #89ddff;
    --clr-white: $foreground;

    font-family: Dosis;
    font-size: 18px;
    color: #a9b1d6;
}

#window {
    background: transparent;
}

#box {
    background: #24283b;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -3px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#searchwrapper {
}

#search,
#typeahead {
    outline: none;
    outline-width: 0px;
    box-shadow: none;
    border-bottom: none;
    border: none;
    background: #1a1b26;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
}

#spinner {
    opacity: 0;
}

#spinner.visible {
    opacity: 1;
}

#typeahead {
    background: none;
    opacity: 0.5;
}

#search placeholder {
    opacity: 0.5;
}

#list {
    background: #1a1b26;
    border-radius: 5px;
    padding: 10px;
}

scrollbar {
    margin-top: 10px;
}

row {
    border-radius: 5px;
}
row:selected {
    background: #24283b;
}

.item {
    padding: 5px;
    border-radius: 2px;
}

.icon {
    padding-right: 5px;
}

.textwrapper {
}

.label {
}

.sub {
    opacity: 0.5;
}

.activationlabel {
    opacity: 0.25;
}

.activation .activationlabel {
    opacity: 1;
    color: #76946a;
}

.activation .textwrapper,
.activation .icon,
.activation .search {
    opacity: 0.5;
}
