layout {
    cwd "~/Projects/development/web/lausan"
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="file:~/.config/zellij/bin/zjstatus.wasm" {
                format_left   "{mode}#[bg=#181926] {tabs}"
                format_center ""
                format_right  "#[bg=#181926,fg=#89b4fa]#[bg=#89b4fa,fg=#1e2030,bold] #[bg=#363a4f,fg=#89b4fa,bold] {session}#[bg=#181926,fg=#363a4f,bold]#[bg=#181926,fg=#363a4f]"
                format_space  ""
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                mode_normal        "#[bg=#181926,fg=#a6da95]#[bg=#a6da95,fg=#181926,bold]NORMAL#[bg=#181926,fg=#a6da95]"
                mode_locked        "#[bg=#181926,fg=#6e738d]#[bg=#6e738d,fg=#181926,bold]LOCKED #[bg=#181926,fg=#6e738d]"
                mode_resize        "#[bg=#181926,fg=#f38ba8]#[bg=#f38ba8,fg=#181926,bold]RESIZE#[bg=#181926,fg=#f38ba8]"
                mode_pane          "#[bg=#181926,fg=#89b4fa]#[bg=#89b4fa,fg=#181926,bold]PANE#[bg=#181926,fg=#89b4fa]"
                mode_tab           "#[bg=#181926,fg=#b4befe]#[bg=#b4befe,fg=#181926,bold]TAB#[bg=#181926,fg=#b4befe]"
                mode_scroll        "#[bg=#181926,fg=#f9e2af]#[bg=#f9e2af,fg=#181926,bold]SCROLL#[bg=#181926,fg=#f9e2af]"
                mode_enter_search  "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold]ENT-SEARCH#[bg=#181926,fg=#8aadf4]"
                mode_search        "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold]SEARCHARCH#[bg=#181926,fg=#8aadf4]"
                mode_rename_tab    "#[bg=#181926,fg=#b4befe]#[bg=#b4befe,fg=#181926,bold]RENAME-TAB#[bg=#181926,fg=#b4befe]"
                mode_rename_pane   "#[bg=#181926,fg=#89b4fa]#[bg=#89b4fa,fg=#181926,bold]RENAME-PANE#[bg=#181926,fg=#89b4fa]"
                mode_session       "#[bg=#181926,fg=#74c7ec]#[bg=#74c7ec,fg=#181926,bold]SESSION#[bg=#181926,fg=#74c7ec]"
                mode_move          "#[bg=#181926,fg=#f5c2e7]#[bg=#f5c2e7,fg=#181926,bold]MOVE#[bg=#181926,fg=#f5c2e7]"
                mode_prompt        "#[bg=#181926,fg=#8aadf4]#[bg=#8aadf4,fg=#181926,bold]PROMPT#[bg=#181926,fg=#8aadf4]"
                mode_tmux          "#[bg=#181926,fg=#f5a97f]#[bg=#f5a97f,fg=#181926,bold]TMUX#[bg=#181926,fg=#f5a97f]"

                // formatting for inactive tabs
                tab_normal              "#[bg=#181926,fg=#89b4fa]#[bg=#89b4fa,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#89b4fa,bold] {name}{floating_indicator}#[bg=#181926,fg=#363a4f,bold]"
                tab_normal_fullscreen   "#[bg=#181926,fg=#89b4fa]#[bg=#89b4fa,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#89b4fa,bold] {name}{fullscreen_indicator}#[bg=#181926,fg=#363a4f,bold]"
                tab_normal_sync         "#[bg=#181926,fg=#89b4fa]#[bg=#89b4fa,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#89b4fa,bold] {name}{sync_indicator}#[bg=#181926,fg=#363a4f,bold]"

                // formatting for the current active tab
                tab_active              "#[bg=#181926,fg=#fab387]#[bg=#fab387,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#fab387,bold] {name}{floating_indicator}#[bg=#181926,fg=#363a4f,bold]"
                tab_active_fullscreen   "#[bg=#181926,fg=#fab387]#[bg=#fab387,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#fab387,bold] {name}{fullscreen_indicator}#[bg=#181926,fg=#363a4f,bold]"
                tab_active_sync         "#[bg=#181926,fg=#fab387]#[bg=#fab387,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#fab387,bold] {name}{sync_indicator}#[bg=#181926,fg=#363a4f,bold]"

                // separator between the tabs
                tab_separator           "#[bg=#181926] "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
            }
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="code" split_direction="vertical" focus=true {
        pane command="nvim" size="60%"
        pane stacked=true {
            pane command="npm" {
                args "run" "dev"
            }
            pane command="npm" expanded=true {
                args "run" "storybook"
            }
            pane
        }
    }
}
