.reload,
.reboot,
.logout {
    // padding: 0 5px;
    // margin-right: 5px;
}

.reboot {
    color: $yellow;
    padding-right: 5px;
}

.logout {
    color: $magenta;
}

.reload {
    color: $cyan;
}

.shutdown {
    // margin-left: 5px;
    // margin-right: 5px;
    color: $red;
}
